/*
Style Guide:
    colors
    -Ultra Violet hex: 564787
    -Rasberry hex: D81E5B
    -Azure(web) hex: F2FDFF
    -Black hex: 080708
    -Persian Green hex: 1B998B

    Font - 


*/

.CenterText {
    text-align: center;
}