*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin: 0;
}

:root{
    --ultra-violet: #564787;
    --rasberry: #D81E5B;
    --azure: #F2FDFF;
    --black: #080708;
    --persian-green: #1B998B;
    --mainFont: "Tiny5", sans-serif;
    --background: var(--black);
}

.tiny5-regular {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}



body{
    background-color: var(--background);
    background-image: url("./bg.png");
    
}

.header{
    z-index: 1;
    display: flex;
    position: fixed;
    width: 100%;
    height: 2em;
    
    font-size: 2rem;

    align-items: center;
    font-family: var(--mainFont);
    color: var(--azure);

}

#returnButton{
    height: 100%;

    transition: filter 0.4s;
}

#returnButton:hover{
    filter: invert(100%);
}

.text{
    font-family: var(--mainFont);
    color: var(--azure);
    font-size: 4rem;
}

.everythingContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gameContainer{
    margin: 0.5em;
    border: var(--azure) outset 6px;
    
    max-width: 900px;
    max-height: 900px;
    min-width: 300px;
    min-height: 300px;
    height: 900px;
    width: 900px;

    display: grid;
    grid-template-columns: repeat(40, 2.5%);
    grid-template-rows: repeat(40, 2.5%);

    background-color: var(--black);
    
}

@keyframes continueAnimation{
    50% {opacity: 0.0;}
}

#continueText{
    text-align: center;
    display: block;
    color: var(--azure);
    position: absolute;
    width: 40rem;
    top: 1em;
    font-family: var(--mainFont);
    font-size: 2.6rem;
    text-shadow: red -2px 0px,  blue 2px 0px, green 3px 0px;

    animation: continueAnimation 3s step-start 0s infinite;
    
}

.snake{
    background-color: var(--persian-green);
}

.food{
    background-color: var(--rasberry);
}