/*
Style Guide:
    colors
    -Ultra Violet hex: 564787
    -Rasberry hex: D81E5B
    -Azure(web) hex: F2FDFF
    -Black hex: 080708
    -Persian Green hex: 1B998B
    -1d1d1d

    Font
    -'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    -base size: 17 (multiply by 1.61803398875 for more appeal)

*/
:root{
    --ultra-violet: #564787;
    --rasberry: #D81E5B;
    --azure: #F2FDFF;
    --black: #080708;
    --persian-green: #1B998B;
    --mainFont: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --background: var(--black);
}



*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin: 0;

}

body{
    background-color:   var(--background);
    background-image: url("./images_and_stuff/background.png") ;
}

.header{
    z-index: 1;
    display: flex;
    position: fixed;
    width: 100%;
    height: 2em;
    background-color: #564787;
    font-size: 2rem;

    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #F2FDFF;

}
#returnButton{
    height: 100%;

    transition: filter 0.4s;
}

#returnButton:hover{
    filter: invert(100%);
}


.gridContainer{
    display: grid;
    position: relative;
    top: 27vh;
    height: 70vh;

    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
}

.inputsContainer{
    display: flex;
    flex-direction: column;



    grid-row:  2;
    grid-column:  2;
    background-color: var(--persian-green);
    margin: 1em;
    border-radius: 1em;
    padding: 1em;
    border:#1e6f88 solid 5px;

    box-shadow: var(--rasberry) -8px 10px;
}

.text{
    font-size: 2rem;
    color: var(--azure);
    font-family: var(--mainFont);
    text-emphasis-color: var(--rasberry);
}

.labels{
    display: block;
    font-weight: 700;
}

.inputs{
    color: var(--black);
    font-weight: 350;
    border-radius: 0.3em;

    border: var(--black) solid 4px;
    box-shadow: var(--rasberry) -3px 3px;

    transition: box-shadow 0.2s;
}

.inputs:focus{
    box-shadow: var(--ultra-violet) -3px 3px;
    border: var(--rasberry) solid 4px;
}

.textContainer{

    grid-row: 1 / 3;
    grid-column: 1 / 1;
    background-color: var(--ultra-violet);
    margin: 1em;
    border-radius: 1em;
    padding: 1em;
    border:#3f3a70 solid 5px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    box-shadow: var(--rasberry) -8px 10px;

}

#taxTable{
    table-layout: fixed;

}

th, td{
    font-size: 1.8rem;
    border: var(--ultra-violet) outset 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 0.3em;

    transition: all 0.1s;
}

th:hover, td:hover{
    background-color: var(--black);
    border: var(--rasberry) solid 4px;
    color: var(--rasberry);
}

@media (max-width: 1142px){
    th, td{
        font-size: 1rem;
    }
}
@media (max-width: 935px){
    .labels{
        font-size: 1.8rem;
    }
}
@media (max-width: 736px){
    .inputsContainer{
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }

    .textContainer{
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }


   .labels{
        font-size: 1.3rem;
    }

    th, td{
        font-size: 0.8rem;
    }
}